@charset "UTF-8";
/*reset*/
html { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; -ms-touch-action: none;}
body { margin: 0; font-size: 1.4rem; line-height: 1; color: #4f4f4f; background-color: white; height: 100%; overflow: hidden; -webkit-overflow-scrolling: touch; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0.2); color: #4f4f4f; }
a:active { color: #4f4f4f;outline: 0;  }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
em,i,cite { font-style: normal;}
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal;-webkit-tap-highlight-color:rgba(0,0,0,0); }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #c1c1c1; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #c1c1c1; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #c1c1c1; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/*common*/
.fixed:after { content:""; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0;  line-height: 0; }

.flex-center {
  /*内容水平垂直居中*/
  display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.justify {
    /*内容两端对齐*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flexbox {
	/*弹性布局*/
   display: -webkit-box; display: -webkit-box; display: box;
}
.flexbox .flex {
	/*弹性布局子元素*/
	-webkit-box-flex: 1; -ms-flex: 1; -webkit-flex: 1;flex: 1; 
}
.flex-vertical {
  /*弹性垂直布局*/
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.oh { overflow: hidden;}
.hide { display: none;}
.ui-elli { white-space: nowrap; overflow:hidden;text-overflow:ellipsis; }

.tc { text-align: center;}
.pad-10 { padding: 10px;}
.pad-15 { padding: 15px;}
.pad-20 { padding: 20px;}
.padv-20 { padding-top: 20px; padding-bottom: 20px;}
.padv-30 { padding-top: 30px; padding-bottom: 30px;}
.mt-5 { margin-top: 5px;}
.mt-10 { margin-top: 10px;}
.mt-15 { margin-top: 15px;}
.mt-20 { margin-top: 20px;}
.mt-30 { margin-top: 30px;}
.fc-green { color: #23c768 !important;}
.fc-red { color: #e6594b !important;}
.fc-gray { color: #bbb !important;}
.fc-g9 { color: #999 !important;}
.fs-12 { font-size: 1.2rem !important;}
.fs-14 { font-size: 1.4rem !important;}
.fs-16 { font-size: 1.6rem !important;}
.fs-18 { font-size: 1.8rem !important;}
.fs-20 { font-size: 2rem !important;}


.body-ec { background-color: #ececec;}
.body-f5 { background-color: #f5f5f5;}
.body-f8 { background-color: #f8f8f8;}
.body-f { background-color: #fff;}


/*iconfont*/
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0px; /*0.2px*/
  -moz-osx-font-smoothing: grayscale;
}
.iconfont { font-family:"iconfont"!important;}

/*anim 公用动画*/
.m-anim {
  -webkit-transition: -webkit-transform 300ms ease;
  -webkit-transition-duration: 300ms;
  -moz-transition: -moz-transform 300ms ease;
  transition: transform 300ms ease;
}

.anim-rotate {
  animation : turnTel 1s 1;
  -webkit-animation : turnRotate 1s 1;
  animation-timing-function : ease-in-out;
  -webkit-animation-timing-function : ease-in-out;
  transform: translate3d(0,0,0); /*GPU加速*/
  -webkit-transform: translate3d(0,0,0);
}
@-webkit-keyframes turnRotate {
  0% {-webkit-transform : rotateZ(0deg);}
  100% {-webkit-transform : rotateZ(360deg);}
}
@keyframes turnRotate {
  0% {transform : rotateZ(0deg);}
  100% {transform : rotateZ(360deg);}
}

@-webkit-keyframes fadeInOut {
  0% { opacity: 0;}
  10% { opacity: 1;}
  90% { opacity: 1; -webkit-transform: translateY(0px);}
  99% { opacity: 0; -webkit-transform: translateY(-30px);}
  100% { opacity: 0; }
}

.

/*@media screen*/
@media screen and (min-width:800px) {
  .m-pagecont { width: 540px; left: 50%; margin-left: -270px;}
  .m-pagecont2 { width: 540px; margin: 0 auto; }
  body { background: #2f333c!important;}
}

/*level*/
.iconfont.m-level { display: inline-block; width: 20px; height: 20px; overflow: hidden; text-align: center; color: #ffcf54;  -webkit-border-radius: 100%; border-radius: 100%; border: solid 2px rgba(255,255,255,0.8); vertical-align: top; position: absolute; bottom: 0; right: 4px; }
.iconfont.m-level:after {-webkit-border-radius: 100%; border-radius: 100%;  height: 100%;width: 100%; line-height: 20px; font-size: 1rem; display: block;}
.iconfont.m-level-1:after { content: "\e602";  background-color: #eb3a0c;}
.iconfont.m-level-2:after { content: "\e603";  background-color: #eb3a0c;}
.iconfont.m-level-3:after { content: "\e604";  background-color: #eb3a0c;}
.iconfont.m-level-org { border:solid 2px #fff; background-color: #0079ff; color: #fff; line-height: 16px; font-size: 1.1rem;}






  